NEXT_PUBLIC_BACKEND_URL='http://localhost:8090'

# Application Pagination
NEXT_PUBLIC_PAGE_LIMIT=10
NEXT_PUBLIC_PAGE_OFFSET=0

# ORDER
NEXT_PUBLIC_MAX_RETURN_ORDER_DAYS_POLICY=30 # 30 days policy to return and get refund