.container {
  width: 100%;
  height: 95%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 12 0 15px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.header {
    margin-bottom: 2%;
}

.accountCard {
    margin-bottom: 3%;
    width: 100%;
}

.historyList {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.historyCard {
    width: 100%;
}